.outline-status-bar {
  margin-bottom: .25rem;

  .outline-status-bar__item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 3.75rem;

    & h5 {
      margin-bottom: 0;
    }
  }
}

.purple-bg {
  background-color: #4600c7 !important;
}
.dark-black-color {
  color: #111827 !important;
}
.border-purple-color {
  border-color: #4600c7;
}